.ql-toolbar.ql-snow,
.ql-container.ql-snow {
  border: 0 !important;
}

.ql-picker-label,
.ql-snow .ql-stroke,
.ql-editor {
  stroke: black !important;
  color: black !important;
}

.dark > * .ql-picker-label,
.dark > * .ql-snow .ql-stroke,
.dark > * .ql-editor {
  stroke: white !important;
  color: white !important;
}